parameters:
    level: 6
    paths:
        - src
    ignoreErrors:
        -
            identifier: property.notFound
            message: '#^Access to an undefined property Contao\\LayoutModel::\$disableUtilityCss\.$#'
            path: src/EventListener/GeneratePageListener.php
            count: 1
